#car-form {
  background-color: #fff;
  margin: -40px 15vw 100px 15vw;
  padding: 24px;
  width: 70vw;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 2;

  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 92px;
  grid-gap: 16px;
}

#car-form > .btn-success {
  align-self: flex-end;
  height: 36px;
  padding: 8px 12px;
  font-size: 14px;
  flex-basis: 68px;
}

.select-input {
  width: 100%;
}

.select-btn > img {
  transition: ease-out 0.2s;
  transform: rotate(0deg);
}
.select-btn > img.active {
  transition: ease-in 0.2s;
  transform: rotate(180deg);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  gap: 8px;

  width: 100%;
  height: 36px;

  border: 1px solid #3c3c3c;
  border-radius: 2px;
  background-color: #fff;
}
.input-container:focus {
  border-color: #5cb85f;
}
.input-container.active {
  border-color: #5cb85f;
}

.select-dropdown {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0;
  margin: 4px 0;
  opacity: 0;
  transition: 0.1s ease-out;
  display: none;
}
.select-dropdown.active {
  display: block;
  opacity: 1;
  transition: 0.1s ease-in;
}
.select-dropdown > li {
  min-height: 38px;
  line-height: 18px;
  padding: 10px 12px;
}
.select-dropdown > li > input {
  display: none;
}
.select-dropdown > li:hover {
  background: #c9e7ca;
  color: #5cb85f;
  font-style: bold;
}
.input-container > input {
  border: none;
}
.input-container > input:focus {
  outline: none;
}

.pickup-time-list > li {
  display: flex;
  justify-content: space-between;
}
