* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.btn-success {
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
}

.nav-link {
  color: #000;
}

#hero {
  height: 500px;
  background-color: #f1f3ff;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5px 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #f1f3ff;
  z-index: 99;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  justify-self: end;
  list-style: none;
  margin: 0;
}

.nav-item a {
  padding-left: 0;
  padding-right: 0;
}

#nav-logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

#hero .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
}

#hero__text {
  padding-left: 10vw;
}

#hero__text h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 16px;
}

#hero__text h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

#hero__bg {
  align-self: end;
  justify-self: end;
  user-select: none;
}

#service {
  min-height: 500px;
  height: fit-content;
  width: 70vw;
  margin: 50px 15vw 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#service .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

#service .content h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#service .content h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#service .content ul {
  display: grid;
  grid-template-rows: auto;
  row-gap: 16px;
  padding: 0;
}

#service ul li {
  list-style: none;
  background-image: url("/img/service_list_bullet.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
  height: 24px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
}

#why-us {
  min-height: 400px;
  height: fit-content;
  width: 80vw;
  margin: 0 10vw 30px;
}

#why-us h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

#why-us h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

#why-us .card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

#why-us .card-list .card {
  border-radius: 8px;
  min-height: 180px;
  height: 100%;
}

#why-us .card-list .card img {
  width: 32px;
  margin: 16px 14px 2px;
}

#why-us .card-list .card .card-body .card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

#getting-started {
  min-height: 350px;
  height: fit-content;
  margin-bottom: 80px;
}

#getting-started .content {
  display: grid;
  grid-template-rows: fit-content fit-content auto;
  align-items: start;
  justify-items: center;
  gap: 24px;
  background: #0d28a6;
  border-radius: 13px;
  width: 80vw;
  margin: 0 10vw;
  min-height: 326px;
  height: fit-content;
  padding: 64px 10vw;
}

#getting-started h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
}

#getting-started h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 0 15vw 25px;
  text-align: center;
}

#faq {
  min-height: 400px;
  height: fit-content;
  width: 80vw;
  margin: 0 10vw 80px;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

#faq .header h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

#faq .header h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  border: none;
}

.accordion-button {
  border: solid 1px #d4d4d4;
  border-radius: 4px!important;
  line-height: 20px;
  color: #000;
  padding: 18px 24px;
}