body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 20px;
  overflow-x: hidden;
}

.link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  color: #0d28a6;
}

.global-container {
  width: 100vw;
  padding: 10px 10vw;
}

.btn-success {
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
}

.no-mp {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.body-bold {
  font-weight: bold;
}

.bg-grey {
  background-color: #f1f3ff;
}
.bg-darkblue-4 {
  background-color: #0d28a6;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flex-gap-16 {
  gap: 16px;
}
.flex-gap-20 {
  gap: 20px;
}
.flex-gap-24 {
  gap: 24px;
}
.flex-gap-32 {
  gap: 32px;
}

.grid-end {
  justify-self: end;
}
.grid-center {
  justify-self: center;
}
.grid-start {
  justify-self: start;
}

ul {
  list-style: none;
}

/* NAV */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
}

#sidebar {
  display: none;
}

/* HERO */
#hero {
  min-height: 500px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 70px;
}

#hero__text {
  margin-left: 10vw;
  width: 40vw;
}

#hero p {
  margin-right: 10vw;
}

#hero img {
  align-self: end;
  justify-self: end;
  width: 50vw;
  height: auto;
}

/* SERVICES */
#services {
  width: 70vw;
  margin: 100px 15vw 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

#services ul li {
  list-style: none;
  background-image: url("/img/service_list_bullet.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
  height: 24px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

/* WHY US */
#why-us {
  margin-top: 100px;
}

#why-us ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

#why-us .card {
  border-radius: 8px;
  min-height: 180px;
  padding: 24px 24px;
}

#why-us img {
  margin-bottom: 16px;
}

/* TESTIMONIAL */
#testimonial {
  margin-top: 100px;
  align-items: center;
}

.testimonial-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "carousel carousel"
    "prev-btn next-btn";
  gap: 24px;
}

.slick-list {
  grid-area: carousel;
}

.control-c {
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: solid 1px #c4c4c4;
  background-color: #fff;
}
.control-c:hover {
  transition: 0.3s;
  border: #5cb85f;
  background-color: #5cb85f;
}
.control-c:hover > img {
  filter: invert(1);
  transition: 0.3s;
}

.a-left {
  grid-area: prev-btn;
  justify-self: end;
}
.a-right {
  grid-area: next-btn;
  justify-self: start;
}

.testimonial-card {
  width: 690px;
  min-height: 270px;
  height: fit-content;
  margin: 0 16px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 70px 32px;

  display: grid !important;
  grid-template-columns: 120px auto;
  align-items: center;
  grid-template-areas:
    ". star-rating"
    "profile-pic testimonial-quote"
    "profile-pic profile-name";
}

.testimonial-card img {
  grid-area: profile-pic;
  align-self: start;
}

.testimonial-card .rating-container {
  grid-area: star-rating;
}

.testimonial-card p {
  grid-area: testimonial-quote;
}

.testimonial-card span {
  grid-area: profile-name;
}

/* GETTING STARTED */
#getting-started {
  margin-top: 100px;
}
#getting-started > div {
  padding: 64px 20vw;
  min-height: 325px;
  align-items: center;
  border-radius: 13px;
}

#getting-started h1 {
  text-align: center;
}

#getting-started p {
  margin-bottom: 32px;
  max-width: 460px;
  text-align: center;
}

/* FAQ */
#faq {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  border: none;
}

.accordion-button {
  border: solid 1px #d4d4d4;
  border-radius: 4px !important;
  line-height: 20px;
  color: #000;
  padding: 18px 24px;
  font-size: 14px;
}

/* FOOTER */
footer {
  margin: 100px 0 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  gap: 80px;
}

@media only screen and (max-width: 768px) {
  .global-container {
    padding: 10px 16px;
  }

  /* NAV */
  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .nav-list {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  #sidebar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: 101;
    background-color: #fff;
    padding: 30px 16px;
  }

  #sidebar > div {
    justify-content: space-between;
  }

  .nav-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  /* HERO */
  #hero {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    padding-top: 64px;
  }

  #hero img {
    width: 100vw;
  }

  #hero__text {
    width: 100%;
    margin: 0;
    padding: 10px 16px;
  }

  /* SERVICES */
  #services {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    width: 100%;
    margin: 0;
    padding: 60px 16px 10px;
    gap: 24px;
  }

  #services img {
    width: 300px;
    height: auto;
    justify-self: center;
    align-self: end;
  }

  /* WHY US */
  #why-us {
    margin-top: 60px;
    align-items: center;
  }

  #why-us ul {
    grid-template-columns: 1fr;
  }

  /* TESTIMONIAL */
  #testimonial {
    margin-top: 60px;
  }

  .testimonial-carousel {
    gap: 16px;
  }

  .testimonial-card {
    width: 90vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "profile-pic"
      "star-rating"
      "testimonial-quote"
      "profile-name";
    justify-items: center;
    gap: 24px;
  }

  .testimonial-card p {
    margin: 0;
    padding: 0;
  }

  .testimonial-card span {
    position: relative;
    top: -16px;
  }

  /* GETTING STARTED */
  #getting-started {
    margin-top: 60px;
  }

  #getting-started h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  #getting-started p {
    margin-bottom: 40px;
  }

  /* FAQ */
  #faq {
    grid-template-columns: 1fr;
    margin-top: 60px;
    justify-items: center;
    text-align: center;
  }

  /* FOOTER */
  footer {
    grid-template-columns: 1fr;
    margin-top: 60px;
    gap: 16px;
  }
}
